
@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/antonignatov\/Sites\/requirejs-sandbox\/static\/styles\/stylus\/main\.styl}line{font-family:\0000375}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/antonignatov\/Sites\/requirejs-sandbox\/node_modules\/grunt-contrib-stylus\/node_modules\/stylus\/lib\/functions\/index\.styl}line{font-family:\000031}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/antonignatov\/Sites\/requirejs-sandbox\/node_modules\/grunt-contrib-stylus\/node_modules\/stylus\/lib\/functions\/index\.styl}line{font-family:\00003293}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/antonignatov\/Sites\/requirejs-sandbox\/node_modules\/grunt-contrib-stylus\/node_modules\/nib\/lib\/nib\/index\.styl}line{font-family:\0000314}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/antonignatov\/Sites\/requirejs-sandbox\/node_modules\/grunt-contrib-stylus\/node_modules\/nib\/lib\/nib\/index\.styl}line{font-family:\0000314}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/antonignatov\/Sites\/requirejs-sandbox\/node_modules\/grunt-contrib-stylus\/node_modules\/nib\/lib\/nib\/border\.styl}line{font-family:\000032}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/antonignatov\/Sites\/requirejs-sandbox\/node_modules\/grunt-contrib-stylus\/node_modules\/nib\/lib\/nib\/border\.styl}line{font-family:\0000312}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/antonignatov\/Sites\/requirejs-sandbox\/node_modules\/grunt-contrib-stylus\/node_modules\/nib\/lib\/nib\/clearfix\.styl}line{font-family:\000033}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/antonignatov\/Sites\/requirejs-sandbox\/node_modules\/grunt-contrib-stylus\/node_modules\/nib\/lib\/nib\/clearfix\.styl}line{font-family:\0000331}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/antonignatov\/Sites\/requirejs-sandbox\/node_modules\/grunt-contrib-stylus\/node_modules\/nib\/lib\/nib\/color-image\.styl}line{font-family:\000032}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/antonignatov\/Sites\/requirejs-sandbox\/node_modules\/grunt-contrib-stylus\/node_modules\/nib\/lib\/nib\/color-image\.styl}line{font-family:\000036}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/antonignatov\/Sites\/requirejs-sandbox\/node_modules\/grunt-contrib-stylus\/node_modules\/nib\/lib\/nib\/flex\.styl}line{font-family:\000036}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/antonignatov\/Sites\/requirejs-sandbox\/node_modules\/grunt-contrib-stylus\/node_modules\/nib\/lib\/nib\/flex\.styl}line{font-family:\00003197}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/antonignatov\/Sites\/requirejs-sandbox\/node_modules\/grunt-contrib-stylus\/node_modules\/nib\/lib\/nib\/gradients\.styl}line{font-family:\0000394}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/antonignatov\/Sites\/requirejs-sandbox\/node_modules\/grunt-contrib-stylus\/node_modules\/nib\/lib\/nib\/gradients\.styl}line{font-family:\0000394}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/antonignatov\/Sites\/requirejs-sandbox\/node_modules\/grunt-contrib-stylus\/node_modules\/nib\/lib\/nib\/config\.styl}line{font-family:\0000394}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/antonignatov\/Sites\/requirejs-sandbox\/node_modules\/grunt-contrib-stylus\/node_modules\/nib\/lib\/nib\/config\.styl}line{font-family:\0000312}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/antonignatov\/Sites\/requirejs-sandbox\/node_modules\/grunt-contrib-stylus\/node_modules\/nib\/lib\/nib\/iconic\.styl}line{font-family:\000032}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/antonignatov\/Sites\/requirejs-sandbox\/node_modules\/grunt-contrib-stylus\/node_modules\/nib\/lib\/nib\/iconic\.styl}line{font-family:\000039}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/antonignatov\/Sites\/requirejs-sandbox\/node_modules\/grunt-contrib-stylus\/node_modules\/nib\/lib\/nib\/image\.styl}line{font-family:\000032}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/antonignatov\/Sites\/requirejs-sandbox\/node_modules\/grunt-contrib-stylus\/node_modules\/nib\/lib\/nib\/image\.styl}line{font-family:\0000327}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/antonignatov\/Sites\/requirejs-sandbox\/node_modules\/grunt-contrib-stylus\/node_modules\/nib\/lib\/nib\/overflow\.styl}line{font-family:\0000327}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/antonignatov\/Sites\/requirejs-sandbox\/node_modules\/grunt-contrib-stylus\/node_modules\/nib\/lib\/nib\/overflow\.styl}line{font-family:\0000323}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/antonignatov\/Sites\/requirejs-sandbox\/node_modules\/grunt-contrib-stylus\/node_modules\/nib\/lib\/nib\/positions\.styl}line{font-family:\000039}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/antonignatov\/Sites\/requirejs-sandbox\/node_modules\/grunt-contrib-stylus\/node_modules\/nib\/lib\/nib\/positions\.styl}line{font-family:\0000373}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/antonignatov\/Sites\/requirejs-sandbox\/node_modules\/grunt-contrib-stylus\/node_modules\/nib\/lib\/nib\/reset\.styl}line{font-family:\0000315}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/antonignatov\/Sites\/requirejs-sandbox\/node_modules\/grunt-contrib-stylus\/node_modules\/nib\/lib\/nib\/reset\.styl}line{font-family:\0000379}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/antonignatov\/Sites\/requirejs-sandbox\/node_modules\/grunt-contrib-stylus\/node_modules\/nib\/lib\/nib\/text\/index\.styl}line{font-family:\000035}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/antonignatov\/Sites\/requirejs-sandbox\/node_modules\/grunt-contrib-stylus\/node_modules\/nib\/lib\/nib\/text\/index\.styl}line{font-family:\000035}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/antonignatov\/Sites\/requirejs-sandbox\/node_modules\/grunt-contrib-stylus\/node_modules\/nib\/lib\/nib\/text\/aliases\.styl}line{font-family:\000032}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/antonignatov\/Sites\/requirejs-sandbox\/node_modules\/grunt-contrib-stylus\/node_modules\/nib\/lib\/nib\/text\/aliases\.styl}line{font-family:\0000314}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/antonignatov\/Sites\/requirejs-sandbox\/node_modules\/grunt-contrib-stylus\/node_modules\/nib\/lib\/nib\/text\/ellipsis\.styl}line{font-family:\000032}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/antonignatov\/Sites\/requirejs-sandbox\/node_modules\/grunt-contrib-stylus\/node_modules\/nib\/lib\/nib\/text\/ellipsis\.styl}line{font-family:\0000311}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/antonignatov\/Sites\/requirejs-sandbox\/node_modules\/grunt-contrib-stylus\/node_modules\/nib\/lib\/nib\/text\/hide-text\.styl}line{font-family:\0000311}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/antonignatov\/Sites\/requirejs-sandbox\/node_modules\/grunt-contrib-stylus\/node_modules\/nib\/lib\/nib\/text\/hide-text\.styl}line{font-family:\000039}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/antonignatov\/Sites\/requirejs-sandbox\/node_modules\/grunt-contrib-stylus\/node_modules\/nib\/lib\/nib\/text\/replace-text\.styl}line{font-family:\000039}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/antonignatov\/Sites\/requirejs-sandbox\/node_modules\/grunt-contrib-stylus\/node_modules\/nib\/lib\/nib\/text\/replace-text\.styl}line{font-family:\0000310}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/antonignatov\/Sites\/requirejs-sandbox\/node_modules\/grunt-contrib-stylus\/node_modules\/nib\/lib\/nib\/vendor\.styl}line{font-family:\00003undefined}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/antonignatov\/Sites\/requirejs-sandbox\/node_modules\/grunt-contrib-stylus\/node_modules\/nib\/lib\/nib\/vendor\.styl}line{font-family:\00003576}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/antonignatov\/Sites\/requirejs-sandbox\/node_modules\/grunt-contrib-stylus\/node_modules\/nib\/lib\/nib\/config\.styl}line{font-family:\00003576}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/antonignatov\/Sites\/requirejs-sandbox\/node_modules\/grunt-contrib-stylus\/node_modules\/nib\/lib\/nib\/config\.styl}line{font-family:\0000312}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/antonignatov\/Sites\/requirejs-sandbox\/node_modules\/grunt-contrib-stylus\/node_modules\/nib\/lib\/nib\/size\.styl}line{font-family:\0000312}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/antonignatov\/Sites\/requirejs-sandbox\/node_modules\/grunt-contrib-stylus\/node_modules\/nib\/lib\/nib\/reset\.styl}line{font-family:\0000316}}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/antonignatov\/Sites\/requirejs-sandbox\/node_modules\/grunt-contrib-stylus\/node_modules\/nib\/lib\/nib\/reset\.styl}line{font-family:\0000319}}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/antonignatov\/Sites\/requirejs-sandbox\/node_modules\/grunt-contrib-stylus\/node_modules\/nib\/lib\/nib\/reset\.styl}line{font-family:\0000321}}
ol,
ul {
  list-style: none;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/antonignatov\/Sites\/requirejs-sandbox\/node_modules\/grunt-contrib-stylus\/node_modules\/nib\/lib\/nib\/reset\.styl}line{font-family:\0000323}}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/antonignatov\/Sites\/requirejs-sandbox\/node_modules\/grunt-contrib-stylus\/node_modules\/nib\/lib\/nib\/reset\.styl}line{font-family:\0000325}}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/antonignatov\/Sites\/requirejs-sandbox\/node_modules\/grunt-contrib-stylus\/node_modules\/nib\/lib\/nib\/reset\.styl}line{font-family:\0000327}}
a img {
  border: none;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/antonignatov\/Sites\/requirejs-sandbox\/static\/styles\/stylus\/main\.styl}line{font-family:\000036}}
html {
  font-size: 100.01%;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/antonignatov\/Sites\/requirejs-sandbox\/static\/styles\/stylus\/main\.styl}line{font-family:\0000310}}
body {
  font: 0.9375em Arial, Helvetica, sans-serif;
  color: #000;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/antonignatov\/Sites\/requirejs-sandbox\/static\/styles\/stylus\/main\.styl}line{font-family:\0000321}}
.b-content {
  font-size: 12px;
  padding: 10px;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/antonignatov\/Sites\/requirejs-sandbox\/static\/styles\/stylus\/main\.styl}line{font-family:\0000325}}
.b-content-list {
  margin-top: 5px;
  padding-left: 20px;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/antonignatov\/Sites\/requirejs-sandbox\/static\/styles\/stylus\/main\.styl}line{font-family:\0000329}}
.b-content-list li {
  padding: 5px 0;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/antonignatov\/Sites\/requirejs-sandbox\/static\/styles\/stylus\/main\.styl}line{font-family:\0000341}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/antonignatov\/Sites\/requirejs-sandbox\/static\/styles\/stylus\/main\.styl}line{font-family:\0000342}}
ul.b-content-list li {
  list-style-type: disc;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/antonignatov\/Sites\/requirejs-sandbox\/static\/styles\/stylus\/main\.styl}line{font-family:\0000346}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/antonignatov\/Sites\/requirejs-sandbox\/static\/styles\/stylus\/main\.styl}line{font-family:\0000347}}
ol.b-content-list li {
  list-style-type: decimal;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/antonignatov\/Sites\/requirejs-sandbox\/static\/styles\/stylus\/main\.styl}line{font-family:\0000351}}
.b-jquery {
  display: block;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/antonignatov\/Sites\/requirejs-sandbox\/static\/styles\/stylus\/main\.styl}line{font-family:\0000353}}
.b-jquery-block {
  line-height: 1.666em;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px #ccc solid;
  padding: 10px;
  margin: 2px;
  display: inline-block;
  vertical-align: top;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/antonignatov\/Sites\/requirejs-sandbox\/static\/styles\/stylus\/main\.styl}line{font-family:\0000361}}
.b-jquery-block-title {
  margin-bottom: 10px;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/antonignatov\/Sites\/requirejs-sandbox\/static\/styles\/stylus\/main\.styl}line{font-family:\0000366}}
.b-code {
  font: 12px Consolas, "Liberation Mono", Courier, monospace;
  margin: 0 2px;
  padding: 1px 5px;
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
  -webkit-border-radius: 0.25em;
  border-radius: 0.25em;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/antonignatov\/Sites\/requirejs-sandbox\/node_modules\/grunt-contrib-stylus\/node_modules\/nib\/lib\/nib\/size\.styl}line{font-family:\0000333}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/antonignatov\/Sites\/requirejs-sandbox\/static\/styles\/stylus\/label\.styl}line{font-family:\0000333}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/antonignatov\/Sites\/requirejs-sandbox\/static\/styles\/stylus\/label\.styl}line{font-family:\000031}}
.b-label {
  display: inline;
  padding: 0.2em 0.6em 0.3em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 75%;
  font-weight: 700;
  line-height: 1.1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  -webkit-border-radius: 0.25em;
  border-radius: 0.25em;
  background-color: #999;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/antonignatov\/Sites\/requirejs-sandbox\/static\/styles\/stylus\/label\.styl}line{font-family:\0000315}}
.b-label-success {
  background-color: #5cb85c;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/antonignatov\/Sites\/requirejs-sandbox\/static\/styles\/stylus\/label\.styl}line{font-family:\0000319}}
.b-label-error {
  background-color: #d9534f;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/antonignatov\/Sites\/requirejs-sandbox\/static\/styles\/stylus\/label\.styl}line{font-family:\0000323}}
.b-label-info {
  background-color: #428bca;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/antonignatov\/Sites\/requirejs-sandbox\/static\/styles\/stylus\/label\.styl}line{font-family:\0000327}}
.b-label__version {
  top: 10px;
  right: 10px;
  position: absolute;
}
