@import 'nib'
global-reset()
arial-font-family = Arial, Helvetica, sans-serif
pt-sans-font-family = 'PT Sans', sans-serif

html {
	font-size: 100.01%;
}

body {
	font: .9375em arial-font-family;
	color: #000;
}
