.b-label {
	display: inline;
	padding: .2em .6em .3em;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 75%;
	font-weight: 700;
	line-height: 1.1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25em;
	background-color: #999;

	&-success {
		background-color: #5cb85c;
	}

	&-error {
		background-color: #d9534f;
	}

	&-info {
		background-color: #428bca;
	}

	&__version {
		top: 10px;
		right: 10px;
		position: absolute;
	}
}
