@import 'nib'
global-reset()
arial-font-family = Arial, Helvetica, sans-serif
pt-sans-font-family = 'PT Sans', sans-serif

html {
	font-size: 100.01%;
}

body {
	font: .9375em arial-font-family;
	color: #000;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

.b-content {
	font-size: 12px;
	padding: 10px;

	&-list {
		margin-top: 5px;
		padding-left: 20px;

		li {
			padding: 5px 0;
		}
	}
}

ul.b-content-list {
	li {
		list-style-type: disc;
	}
}

ol.b-content-list {
	li {
		list-style-type: decimal;
	}
}

.b-jquery {
	display: block;

	&-block {
		line-height: 1.666em;
		border-radius: 5px;
		border: 1px #ccc solid;
		padding: 10px;
		margin: 2px;
		display: inline-block;
		vertical-align: top;

		&-title {
			margin-bottom: 10px;
		}
	}
}

.b-code {
	font: 12px Consolas, "Liberation Mono", Courier, monospace;
	margin: 0 2px;
	padding: 1px 5px;
	border: 1px solid #eaeaea;
	background-color: #f8f8f8;
	border-radius: .25em;
}

@import 'label'
